body {
  color: rgb(183, 145, 108);
  font-family: "Trebuchet MS", Georgia, Serif;
  background-color: rgb(242, 235, 216);
}
h1, h2, h3, h4, h5, h6 {
font-family: "Playfair Display";
letter-spacing: 5px;
}

.top {
  color: rgb(183, 145, 108);
  background-color: rgb(255, 193, 240);
  border-bottom-color: rgb(255, 193, 240);
  box-shadow: 0 4px 4px 0 rgba(255,89,89,0.2);
  border-bottom-style: solid;
  height: 4em;
  letter-spacing: 2px;
  position: fixed;
  width: 100%;
  top: 0;
  margin: 0px auto;
  padding: 0 10px;
}
header {
  max-width:1600px;
  min-width:500px
}
